.availability {
  margin-bottom: 0.5em;
  background-color: #eee;
  padding: 1em 0;

  .numberContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .itemNumber {
    color: #999;
    font-size: 2.5em;
  }

  .daysOfTheWeek {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    >* {
      width: 100%;
      text-align: center;
    }
  }
}